# Part of the fuzzrake repository
/.gitkeep

# Private stuff should never be published
/submissions.*
/users.*

# Volatile information, easily reproducible
/creators_offers_statuses.*
/creators_species.*
/creators_urls_states.*
/creators_volatile_data.*
/species.*

# Too much noise, primarily information about operations, low-value
/events.*

# Temporary/operational/private system data
/doctrine_migration_versions.*
/messenger_messages.*
/reset_password_requests.*

# See README
*.sql
