# Part of the fuzzrake repository
/.gitkeep

# Private stuff should never be published
*private*
/submissions.*

# Volatile information, easily reproducible
/creators_offers_statuses.*
/creators_species.*
/creators_urls_states.*
/creators_volatile_data.*
/species.*

# Too much noise, primarily information about operations, low-value
/doctrine_migration_versions.*
/events.*

# Temporary system data, operational
/messenger_messages.*

# See README
*.sql
