# Part of the fuzzrake repository
/.gitkeep

# Private stuff should never be published
*private*
/submissions.*

# Volatile information, easily reproducible
/artisans_commissions_statuses.*
/artisans_urls_states.*
/artisans_volatile_data.*
/creators_species.*
/kotlin_data.*
/species.*
